html, body {
    font-family: 'Arial', sans-serif;
}

body {
    flex-direction: column;
}

#clickableArea { 
    display: flex;
    justify-content: center;
}

#clickableImage{
    max-width: 100%;
    height: auto;
}

#chanlog{
    text-align: center;
    font-size: 24px;
}

#daysPassed{
    color: red;
    font-size: 40px;
}

#visitor_counter_container{
    /*padding-top: 10px;*/
    padding-left: 10px;
    font-size: 12px;
}

#click_counter_container{
    text-align: center;
    font-size: 16px;
}

#server_click_counter_container {
    font-size: 20px;
    position: -webkit-fixed; /*for Safari */
    position: fixed;
    bottom: 3%;
    width: 100%;
    text-align: center;
    padding: 10px;  /*Add some padding for better aesthetics */

}

#comment{
    font-size: 14px;
    position: -webkit-fixed; /*for Safari */
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 10px;  /*Add some padding for better aesthetics */

}

@media only screen and(max-width: 768px) {
    html, body {
        margin: 0;
        font-family: 'Arial', sans-serif;
        height: auto;
    }
    
    body {
        display: flex;
        flex-direction: column;
    }

    #server_click_counter {
        font-size: 16px;
        position: -webkit-fixed;
        position: fixed;
        left: 0;
        bottom: 1%;
        width: 100%;
        text-align: center;
        padding: 10px;  
    }

}
