body {
    margin: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.center {
    text-align: center;
}

.clickable {
    display: inline-block;
    cursor: pointer;
}

.clickable img {
    width: 50vw;
    height: auto;
}

