html, body {
    font-family: 'Arial', sans-serif;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-size: 19px;
}
  
li {
    float: left;
}
  
li a {
    display: block;
    padding: 8px;
    background-color: #f0f0f0;
    
}

li a:hover {
    background-color: #969696;
}

.current {
    background-color: #7b7b7b;
}

#visitor_counter_container{
    position: fixed;
    bottom: 0;
    left: 0;
    padding-left: 10px;
    font-size: 12px;
}

#clickable_area { 
    display: flex;
    justify-content: center;
}

#clickable_image{
    max-width: 100%;
    height: auto;
}

#chan_log{
    text-align: center;
    font-size: 24px;
}

#days_passed{
    color: red;
    font-size: 40px;
}

#click_counter_container{
    text-align: center;
    font-size: 16px;
}

#click_counter{
    text-align: center;
    font-size: 32px;
}

#server_click_counter_container {
    font-size: 20px;
    position: -webkit-fixed; /*for Safari */
    position: fixed;
    bottom: 3%;
    width: 100%;
    text-align: center;
    text-shadow: -1px -1px 0 #efe4d1,
              1px -1px 0 #efe4d1,
              -1px 1px 0 #efe4d1,
              1px 1px 0 #efe4d1;
}

#comment{
    font-size: 14px;
    position: -webkit-fixed; /*for Safari */
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    text-shadow: -1px -1px 0 #efe4d1,
              1px -1px 0 #efe4d1,
              -1px 1px 0 #efe4d1,
              1px 1px 0 #efe4d1;
}

#project_title{
    font-size: 26px;
}